<?xml version="1.0"?>
<!--
/**
 * @category   Lavanya
 * @package    Lavanya_Frontend
 * @author     lavanyachandranece@gmail.com
 * @copyright  Copyright  Lavanya<lavanyachandranece@gmail.com>
 * @license    Open Software License
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Lavanya_Frontend" setup_version="1.0.0" />
</config>
